<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>540630867.20196998</real>
				<key>lastModification</key>
				<real>540630867.20196998</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2015-01-01-2014电影十佳.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486597</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-2016电影十佳.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486597</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-17-猜你喜欢的尽头：Pandora.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486704</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-19-一份很长的歌单.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486704</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-26-2017电影十佳.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486799</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-01-2017电视剧十佳.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486799</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-03-2017数码产品Top 5.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486799</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-20-信息输入自动化.md</key>
			<dict>
				<key>lastModification</key>
				<real>540630843.29486895</real>
				<key>version</key>
				<dict>
					<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>540630877.34715295</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2.md</string>
		</array>
		<array>
			<string>2015-01-01-2014电影十佳.md</string>
		</array>
		<array>
			<string>2017-01-01-2016电影十佳.md</string>
		</array>
		<array>
			<string>2017-12-17-猜你喜欢的尽头：Pandora.md</string>
		</array>
		<array>
			<string>2017-12-19-一份很长的歌单.md</string>
		</array>
		<array>
			<string>2017-12-26-2017电影十佳.md</string>
		</array>
		<array>
			<string>2018-01-01-2017电视剧十佳.md</string>
		</array>
		<array>
			<string>2018-01-03-2017数码产品Top 5.md</string>
		</array>
		<array>
			<string>2018-01-20-信息输入自动化.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
			<integer>5</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a37edd2aaf04a8f425d01560ec57ad9b8fa5a793b74ae1a29108d08e7d8596d4</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
